node_modules
/.pnp
.pnp.js
.yarn/cache

# Environment
.env
.env*.local

# Next.js
/.next/
/out/

# Build
/dist/

# Vitest
/coverage/

# OS
.DS_Store
Thumbs.db
*.pem

# Typescript
*.tsbuildinfo
next-env.d.ts
